{% extends 'layout.html.twig' %}

{% block title %}

    Item {{ item.title }}

{% endblock %}


{% block content %}
   <main>
    <h1>Item {{ item.title }}</h1>
<ul>
    <li>Id : {{ item.id }}</li>
</ul>

<a href='/item/edit/{{ item.id }}'>Edit this item</a>
<a href='/item/delete/{{ item.id }}'>Delete this item</a>
<a href='/'>Back to list</a>
</main>

{% endblock %}